:root {
    --black-color: #000;
    --white-color: #fff;
    --text-color: #a4a4a4;
    --text-heading-color: #5e6d81;
    --component-color: #434a54;
    --header-top-height: 50px;
    --header-main-nav: 80px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 2.7rem;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}

p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0px;
    padding: 0px;
}