/**
 * version 1.0
 */

/*header top*/


.header-top {
    background-color: var(--component-color);
}

.top-nav {
    height: var(--header-top-height);
    display: flex;
    justify-content: space-between;
}

.top-nav__list {
    list-style: none;
    display: flex;
}

.top-nav__item {
    display: flex;
    align-items: center;
}

.top-nav__item-info {
    background-color: #4a515b;
}

.top-nav__link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.8rem;
    display: block;
    margin-right: 20px;
}

.top-nav__icon {
    height: 15px;
    position: relative;
    top: 3px;
    left: 0;
    margin-right: 6px;
}

.top-nav__link-text {
    color: var(--white-color);
}

.top-nav__img {
    width: 20px;
}

.top-nav__img-wrap {
    position: relative;
    line-height: 0;
}

.top-nav__img-wrap:hover .notify-top {
    display: block;
}

.top-nav__img-num {
    display: inline-block;
    padding: 2px 3px;
    font-size: 1rem;
    line-height: 1rem;
    position: absolute;
    top: -6px;
    right: -5px;
    background-color: #1bbc9b;
}

.top-nav__link-block {
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white-color);
}

.top-nav__link-img {
    line-height: 0;
    margin-right: 10px;
}

.top-nav__link-img img{
    height: 30px;
    border-radius: 100%;
}

.top-nav__link-text-top {
    line-height: 1.2rem;
    font-size: 1.2rem;
    display: block;
}

.top-nav__link-text-bottom {
    display: block;
    line-height: 1rem;
    font-size: 1rem;
    margin-top: 6px;
}

.notify-top {
    display: none;
    width: 250px;
    position: absolute;
    top: calc(100% + 25px);
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--component-color);
    padding: 10px;
    z-index: 1;
}

.notify-top::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--component-color) transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
}

.notify-top::after {
    content: "";
    height: 40px;
    width: 100%;
    position: absolute;
    top: -40px;
    left: 0;
}

.notify-top__list {

}

.notify-top__item {
    display: flex;
    padding: 10px;
}

.notify-top__img-wrap {
    margin-right: 20px;
}

.notify-top__img {
    width: 50px;
    object-fit: cover;
    display: inline-block;
}

.notify-top__info {
    flex: 1;
}

.notify-top__link {
    color: var(--white-color);
    text-decoration: none;
    margin-top: 8px;
    display: block;
}

.notify-top__heading {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.notify-top__desc {
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
}


/*main nav*/
.main-nav {
    border-bottom: 1px solid #f1f1f1;
    background-color: var(--white-color);
}

.main-nav::before {
    content: "";
    height: 3px;
    display: block;
    width: 100%;
    background: linear-gradient(to right, #f76570 0%,#f76570 8%,#f3a46b 8%,#f3a46b 16%,#f3a46b 16%,#ffd205 16%,#ffd205 24%,#ffd205 24%,#1bbc9b 24%,#1bbc9b 25%,#1bbc9b 32%,#14b9d5 32%,#14b9d5 40%,#c377e4 40%,#c377e4 48%,#f76570 48%,#f76570 56%,#f3a46b 56%,#f3a46b 64%,#ffd205 64%,#ffd205 72%,#1bbc9b 72%,#1bbc9b 80%,#14b9d5 80%,#14b9d5 80%,#14b9d5 89%,#c377e4 89%,#c377e4 100%);
    background: -ms-linear-gradient(left, #f76570 0%,#f76570 8%,#f3a46b 8%,#f3a46b 16%,#f3a46b 16%,#ffd205 16%,#ffd205 24%,#ffd205 24%,#1bbc9b 24%,#1bbc9b 25%,#1bbc9b 32%,#14b9d5 32%,#14b9d5 40%,#c377e4 40%,#c377e4 48%,#f76570 48%,#f76570 56%,#f3a46b 56%,#f3a46b 64%,#ffd205 64%,#ffd205 72%,#1bbc9b 72%,#1bbc9b 80%,#14b9d5 80%,#14b9d5 80%,#14b9d5 89%,#c377e4 89%,#c377e4 100%);
    background: -o-linear-gradient(left, #f76570 0%,#f76570 8%,#f3a46b 8%,#f3a46b 16%,#f3a46b 16%,#ffd205 16%,#ffd205 24%,#ffd205 24%,#1bbc9b 24%,#1bbc9b 25%,#1bbc9b 32%,#14b9d5 32%,#14b9d5 40%,#c377e4 40%,#c377e4 48%,#f76570 48%,#f76570 56%,#f3a46b 56%,#f3a46b 64%,#ffd205 64%,#ffd205 72%,#1bbc9b 72%,#1bbc9b 80%,#14b9d5 80%,#14b9d5 80%,#14b9d5 89%,#c377e4 89%,#c377e4 100%);
    background: -webkit-linear-gradient(left, #f76570 0%,#f76570 8%,#f3a46b 8%,#f3a46b 16%,#f3a46b 16%,#ffd205 16%,#ffd205 24%,#ffd205 24%,#1bbc9b 24%,#1bbc9b 25%,#1bbc9b 32%,#14b9d5 32%,#14b9d5 40%,#c377e4 40%,#c377e4 48%,#f76570 48%,#f76570 56%,#f3a46b 56%,#f3a46b 64%,#ffd205 64%,#ffd205 72%,#1bbc9b 72%,#1bbc9b 80%,#14b9d5 80%,#14b9d5 80%,#14b9d5 89%,#c377e4 89%,#c377e4 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f76570), color-stop(8%,#f76570), color-stop(8%,#f3a46b), color-stop(16%,#f3a46b), color-stop(16%,#f3a46b), color-stop(16%,#ffd205), color-stop(24%,#ffd205), color-stop(24%,#ffd205), color-stop(24%,#1bbc9b), color-stop(25%,#1bbc9b), color-stop(32%,#1bbc9b), color-stop(32%,#14b9d5), color-stop(40%,#14b9d5), color-stop(40%,#c377e4), color-stop(48%,#c377e4), color-stop(48%,#f76570), color-stop(56%,#f76570), color-stop(56%,#f3a46b), color-stop(64%,#f3a46b), color-stop(64%,#ffd205), color-stop(72%,#ffd205), color-stop(72%,#1bbc9b), color-stop(80%,#1bbc9b), color-stop(80%,#14b9d5), color-stop(80%,#14b9d5), color-stop(89%,#14b9d5), color-stop(89%,#c377e4), color-stop(100%,#c377e4));
    background: -moz-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
}

.main-nav-content {
    display: flex;
    height: var(--header-main-nav);
    align-items: center;
}

.header-logo {

}

.header-logo__link {
    line-height: 0;
    display: block;
}

.header-logo__img {

}

.main-nav__list {
    flex: 1;
    display: flex;
    list-style: none;
    margin-left: 40px;
    justify-content: flex-end;
}

.main-nav__item {
    font-size: 1.6rem;
    position: relative;
}

.main-nav__item:hover > .sub-menu {
    display: block;
}

.main-nav__item::after {
    content: "|";
    display: inline-block;
    margin: 0 20px;
    color: #f1f1f1;
}

.main-nav__item:last-child::after {
    display: none;
}

.sub-menu {
    display: none;
    background-color: #ffffff;
    list-style: none;
    width: 190px;
    position: absolute;
    top: calc(100% + 26px);
    left: -18px;
    z-index: 1;
    box-shadow: 0 2px 5px #f1f1f1;
}

.sub-menu:before {
    content: "";
    display: block;
    width: 100%;
    height: 26px;
    position: absolute;
    top: -26px;
    left: 0;
}

.sub-menu__item {
    border-top: 1px solid #f1f1f1;
    position: relative;
}

.sub-menu__link {
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--text-heading-color);
}

.sub-menu__link--has-sub:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    content: "";
    display: block;
    border: 5px solid;
    border-color: transparent transparent transparent var(--component-color);
}

.sub-menu__item:hover > .sub-menu {
    display: block;
}

.sub-menu .sub-menu {
    display: none;
    left: calc(100% + 20px);
    top: -1px;
}

.sub-menu .sub-menu:before {
    width: 20px;
    height: 100%;
    top: 0;
    left: -20px;
}

.main-nav__link {
    color: var(--text-heading-color);
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav__link-button {
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 1.1rem;
    background-color: #f3a46b;
    padding: 9px 16px 8px;
    text-transform: uppercase;
    color: var(--white-color);
    display: inline-block;
    letter-spacing: 2px;
}

/* nav mobile */
.nav-mobile__icon-link {
    color: #a4a4a4;
    display: inline-block;
    line-height: 0;
    cursor: pointer;
}

.nav-mobile__icon-wrap {
    display: none;
}

.nav-mobile__icon {
    width: 25px;
}

input.nav_mobile_checkbox:checked ~ .sidebar-container {
    right: 0;
}


/*side bar*/
.sidebar-container {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    z-index: 10;
    background-color: var(--component-color);
    padding: 40px;
    height: 100vh;
    overflow-y: auto;
    transition: all ease-in-out 0.6s;
}

.sidebar-close {
    display: inline-block;
    line-height: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.sidebar-close__icon {
    width: 25px;
}

.sidebar-component {
    margin-bottom: 22px;
}

.sidebar-component__heading-link {
    text-decoration: none;
    color: var(--white-color);
    display: block;
}

.sidebar-component__heading {
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    padding: 10px 0;
}

.sidebar-component__list {
    list-style: none;
    margin: 4px 0 0 20px;
}

.sidebar-component__item {

}

.sidebar-component__link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 16px 0;
    display: inline-block;
}



/* slide */
.slider {
    height: 650px;
    max-height: 650px;
    position: relative;
}

.slider__list {
    height: 100%;
    width: 100%;
}

.slider__item {
    height: 100%;
    width: 100%;
}

.slider__img-wrap {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.slide-pre,
.slide-next {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.25);
}

.slide-pre {
    left: 25px;
}


.slide-pre::before {
    content: "\276C";
}

.slide-pre:hover::before,
.slide-next:hover::before {
    color: rgba(0, 0, 0, 0.5);
    background-color: var(--white-color);
}

.slide-pre__img-wrap {
    right: -100%;
    transform-origin: 0% 50%;
    transform: rotatey(90deg);
}

.slide-pre:hover .slide-pre__img-wrap {
    opacity: 1;
    visibility: inherit;
    transform: rotatey(0deg);
}

.slide-next::before {
    content: "\276D";
}

.slide-pre::before,
.slide-next::before {
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 100px;
    color: var(--white-color);
    font-size: 4rem;
}

.slide-pre__img-wrap,
.slide-next__img-wrap {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    visibility:hidden;
    opacity: 0;
    transition: all 0.3s;
}

.slide-next__img-wrap {
    left: -100%;
    transform-origin: 100% 50%;
    transform: rotatey(90deg);
}

.slide-next:hover .slide-next__img-wrap {
    opacity: 1;
    visibility: inherit;
    transform: rotatey(0deg);
}

.slide-pre__img,
.slide-next__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.slide-next {
    right: 25px;
}

/*search*/

.header-search-wrap {
    position: absolute;
    bottom: calc(0% + 60px);
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.search-tab__list {
    list-style: none;
    display: flex;
}

.search-tab__list--active .search-tab__link {
    background-color: var(--component-color);
}

.search-tab__link {
    padding: 15px 20px;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    text-transform: uppercase;
    background-color: #1bbc9b;
    display: block;
}

.search-tab__icon--advanced {
    transform: rotate(90deg);
}

.search-tab__label {
    margin-left: 10px;
}

/*search form */
.search-wrap {
    position: relative;
}

.quick-search {
    background-color: var(--component-color);
    padding: 20px;
}

.quick-search.search--active {
    display: block;
}

.search__item {
    font-size: 1.5rem;
    color: #a3a3a3;
    background-color: #4a515b;
}

.search__section,
.search__input {
    background-color: #4a515b;
    line-height: 2rem;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #a3a3a3;
    width: 100%;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

.search__section::-ms-expand {
    display: none;
}

.search__btn {
    width: 100%;
}

.advanced-search {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--component-color);
    padding: 0 20px 20px 20px;
}

.advanced-search.search--active {
    display: block;
}

.advanced-search .search__item {
    margin-top: 20px;
}

.packages-request.packages__item-body--active {
    display: block;
}

/* CONTAINER */

/*top promotion*/
.section-top {
    text-align: center;
}

.section-top__heading {
    font-size: 3rem;
    line-height: 3rem;
    color: var(--text-heading-color);
    font-weight: 400;
    text-transform: uppercase;
}

.section-top__label {
    margin-top: 20px;
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text-color);
}

.section-top__separation {
    margin-top: 20px;
    line-height: 0;
}

.section-top__separation-line {
    height: 4px;
    width: 80px;
    background-color: #f1f1f1;
    display: inline-block;
}

.top-promotion__item {
    position: relative;
    border: 1px solid #f1f1f1;
    margin-top: 30px;
}

.top-promotion__item-wrap:nth-child(6n) .top-promotion__region-wrap,
.top-promotion__item-wrap:nth-child(6n) .top-promotion__ticket{
    background-color: #ffd205;
}

.top-promotion__item-wrap:nth-child(6n + 1) .top-promotion__region-wrap,
.top-promotion__item-wrap:nth-child(6n + 1) .top-promotion__ticket {
    background-color: #ba71da;
}

.top-promotion__item-wrap:nth-child(6n + 2) .top-promotion__region-wrap,
.top-promotion__item-wrap:nth-child(6n + 2) .top-promotion__ticket {
    background-color: #14b9d5;
}

.top-promotion__item-wrap:nth-child(6n + 3) .top-promotion__region-wrap,
.top-promotion__item-wrap:nth-child(6n + 3) .top-promotion__ticket {
    background-color: #f76570;
}

.top-promotion__item-wrap:nth-child(6n + 4) .top-promotion__region-wrap,
.top-promotion__item-wrap:nth-child(6n + 4) .top-promotion__ticket {
    background-color: #1bbc9b;
}

.top-promotion__item-wrap:nth-child(6n + 5) .top-promotion__region-wrap,
.top-promotion__item-wrap:nth-child(6n + 5) .top-promotion__ticket {
    background-color: #f3a46b;

}

.top-promotion__img {
    width: 100%;
    display: block;
}

.top-promotion__country {
    text-decoration: none;
    display: block;
    background-color: #434a54;
}

.top-promotion__country-heading {
    font-size: 2rem;
    line-height: 2rem;
    padding: 20px;
    font-weight: 400;
    color: var(--white-color);
}

.top-promotion__region-wrap {
    display: flex;
}

.top-promotion__region {
    display: inline-block;
    flex-basis: 50%;
    text-decoration: none;
    color: var(--white-color);
}

.top-promotion__region-heading,
.top-promotion__type-heading {
    padding: 5px 20px;
    font-size: 1.4rem;
    font-weight: 400;
}

.top-promotion__type {
    position: relative;
    display: inline-block;
    flex-basis: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    color: var(--white-color);
}

.top-promotion__ticket {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 4px 8px;
}

.top-promotion__desc-wrap {
    padding: 20px;
}

.top-promotion__desc {
    font-size: 1.4rem;
    color: var(--text-color);
}

.top-promotion__btn {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #f1f1f1;
    margin-top: 20px;
}

.top-promotion__price {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 1.4rem;
}

.top-promotion__old-price {
    text-decoration: line-through;
}


/* promotion action*/
.promotion-action {
    margin-top: 40px;
}

.promotion-action__content {
    display: flex;
    justify-content: center;
}

.btn.promotion-action__btn {
    line-height: 2.7rem;
}

.promotion-action__btn ~ .promotion-action__btn {
    margin-left: 30px;
}


/*summer promotion*/
.summer-promotion {
    background-image: url("../images/parallax-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.summer-promotion__layer {
    background-color: rgba(0, 0, 0, 0.25);
}

.summer-promotion__content {
    padding: 100px 0 110px;
    color: var(--white-color);
    text-align: center;
}

.summer-promotion__heading,
.summer-promotion__price {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
}

.summer-promotion__heading {
    text-transform: uppercase;
}

.summer-promotion__separate-block {
    line-height: 0;
}

.summer-promotion__separate {
    display: inline-block;
    background-color: var(--white-color);
    width: 30px;
    height: 2px;
}

.summer-promotion__tour {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.summer-promotion__price {
    font-size: 2rem;
    line-height: 2rem;
}

.summer-promotion__btn-wrap {
    margin-top: 28px;
}

.summer-promotion__btn {
    background-color: #14b9d5;
}

.our-destination .top-promotion__price {
    left: 50%;
    transform: translateX(-50%);
}

/*travel type*/
.travel-type {
    background-image: url("../images/parallax-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 23% center;
}

.travel-type__layer {
    background-color: rgba(0, 0, 0, 0.1);
}

.travel-type__item-col:nth-child(4n) .travel-type__btn {
    background-color: #f76570;
}

.travel-type__item-col:nth-child(4n + 1) .travel-type__btn {
    background-color: #ffd205;
}

.travel-type__item-col:nth-child(4n + 1) .travel-type__count {
    color: #14b9d5;
}

.travel-type__item-col:nth-child(4n + 2) .travel-type__btn {
    background-color: #1bbc9b;
}

.travel-type__item-col:nth-child(4n + 3) .travel-type__btn {
    background-color: #14b9d5;
}

.travel-type__content {
    padding-top: 80px;
    padding-bottom: 80px;
}

.travel-type__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 0;
}

.travel-type__count {
    font-size: 4.5rem;
    line-height: 4.5rem;
    color: var(--white-color);
    text-align: center;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(0,0,0, 0.05);
}

.travel-type__link {
    margin-top: 12px;
    text-align: center;
}

.travel-type__btn {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

/*packages*/

.packages-body {
    margin-top: 15px;
}

.packages .search-tab__item:first-child .search-tab__label {
    margin-left: 0px;
}

.packages-request {
    display: none;
    padding: 10px 20px 40px;
    background-color: var(--component-color);
}

.packages-request .search__item {
    margin-top: 20px;
}

.packages-contact {
    background-color: var(--component-color);
    padding: 20px 0;
    display: none;
}

.packages-contact.packages__item-body--active {
    display: none;
}

.packages-contact-item {
    text-align: center;
}

.packages-contact-item h1 {
    margin: 10px 0;
    color: var(--white-color);
    font-weight: 400;
    font-size: 3rem;
    line-height: 3rem;
}

.btn-send {
    padding-top: 15px;
    padding-bottom: 15px;
}

.packages-body-col:first-child .packages__item {
    margin-top: 15px;
}

.packages__item__space {
    padding: 15px 0;
}

.packages__item-content {
    display: flex;
    border: 1px solid #f1f1f1;
}

.packages__img-wrap {
    flex-basis: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.packages__img {
    width: 100%;
    display: block;
}

.packages__info {
    flex: 1;
}

.packages__info-heading {
    font-size: 1.7rem;
    line-height: 1.7rem;
    padding: 20px;
    font-weight: 400;
    color: var(--text-color);
    border-bottom: 1px solid #f1f1f1;
    background-color: #f9f9f9;
}

.packages__info-desc-wrap {
    padding: 20px 20px 40px;
    font-size: 1.4rem;
}

.packages__info-desc {
    color: var(--text-color);
}

.packages__item:nth-child(3n) .packages__detail {
    background-color: #ba71da;
}

.packages__item:nth-child(3n + 1) .packages__detail {
    background-color: #f3a46b;
}

.packages__item:nth-child(3n + 2) .packages__detail {
    background-color: #f76570;
}

.packages__detail {
    flex-basis: 20%;
    background-color: #f3a46b;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.packages__link {
    color: var(--white-color);
    text-decoration: none;
}

.packages__price {
    font-size: 3rem;
    line-height: 3rem;
}

.packages__price-unit {
    font-size: 2rem;
}

.packages__btn {
    border: 1px solid var(--white-color);
    min-width: 100px;
    font-size: 1.4rem;
}


.footer__top {
    background-color: var(--component-color);
    padding: 60px 0 50px;
}

.footer__item {
    color: var(--white-color);
}

.footer__heading {
    font-size: 2rem;
    font-weight: 400;
}

.footer__desc {
    font-size: 1.2rem;
    color: #a3a3a4;
    text-transform: uppercase;
}

.footer__detail {
    margin-top: 20px;
    display: flex;
}

.footer__phone {
    font-size: 2rem;
}

.footer__item {

}

.footer__heading {

}

.footer__desc {

}


.footer__link {
    text-decoration: none;
    color: var(--white-color);
    margin-right: 20px;
}

.footer__icon {
    font-size: 2rem;
}

.footer__sub-form .search__item{
    display: flex;
}

.subscribe__btn {
    font-size: 1.1rem;
}

.footer__sub-form .search__input-group {
    flex: 1;
}

.footer__sub-form .search__input {
    font-size: 1.4rem;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__bottom-text {
    padding: 15px 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--text-color);
}






















